body {
    background-color: black;
    color: aqua;
    font-size: 1.25em;
}

nav {
    padding-bottom: 3px;
    border-bottom: 3px double yellow;
    
}
nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

nav a {
    color:blueviolet;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-style: italic;
    font-size: larger;
}

nav a:hover {
    color:purple;
    
}

nav li {
    float: left;
    font-size: 1em;
}

nav img {
    vertical-align: middle;
    margin-inline: 15px;
}

.homepage-main-wrapper {
    padding: 10%;
    padding-inline: 10%;
}

.main-left {
    float: left;
    max-width: 50%;
}

.main-right {
    float: right;
    max-width: 50%;
}

.main-right > img {
    max-width: 100%;
    height: auto;
}