body {
    padding: 0;
    margin: 0;
    background-image: url('../img/anim2.gif');
    background-size: cover;
    color:rgb(54, 4, 148);
}

table {
    width: 100%;
}

td{
    width:33%;
}

#spike {
    width:10%;
}

#room {
    max-width:80%;
}

#elephant {
    width: 70%;
    opacity: 66%;
    margin-top: 50%;
}

#cocodemo {
    width: 75%;
}